@model PagedList.IPagedList<OnlineShop.Models.EF.Content>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section title{
    Content
}
@section jsFooter{
    <script src="/Content/admin/js/controller/userController.js"></script>
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Danh sách tin tức</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            @using (Html.BeginForm("Index", "Content", FormMethod.Get, new { @class = "d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" }))
            {
                <div class="input-group">
                    <input type="text" name="searchString" value="@ViewBag.SearchString" class="form-control bg-light border-0 small" placeholder="Tìm kiếm..."
                           aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            }
            <a class="btn btn-primary" href="/Admin/Content/Create">Thêm mới</a>
            <div class="table-responsive py-3">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tiêu đề</th>
                            <th>Hình ảnh</th>
                            <th>Ngày đăng</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@item.Name</td>
                                <td>@item.Image</td>
                                <td>@item.CreatedDate</td>
                                <td>
                                    <a href="#" class="btn-active" data-id="@item.ID">
                                        @if (item.Status)
                                        {
                                            <button class="btn btn-success">Hoạt động</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-danger">Khóa</button>
                                        }
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-warning" href="/Admin/Content/Edit/@item.ID">Sửa</a>
                                    |
                                    @*<a class="btn btn-danger" href="/Admin/User/Delete/@item.ID">Xóa</a>*@
                                    @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                               {
                                   Confirm = "Bạn muốn xóa Tin tức này?",
                                   OnComplete = "$('#row_" + item.ID + "').remove()",
                                   HttpMethod = "Delete"
                               })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })" tabindex="-1">Previous</a>
                        </li>
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                <a class="page-link" href="@Url.Action("Index", new { page = i, @searchString = @ViewBag.SearchString })">@i</a>
                            </li>
                        }
                        <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })">Next</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>

</div>

