@model OnlineShop.Models.EF.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (OnlineShop.Models.EF.ProductCategory)ViewBag.CategoryName;
    var relatedProduct = (List<OnlineShop.Models.EF.Product>)ViewBag.RelatedProduct;
}
@section sidebar{
    <div class="row">
        <div id="sidebar" class="span3">
            @Html.Action("ProductCategory", "Product")
            <div class="well well-small alert alert-warning cntr">
                <h2>50% Discount</h2>
                <p>
                    only valid for online order. <br><br><a class="defaultBtn" href="#">Click here </a>
                </p>
            </div>
            <div class="well well-small"><a href="#"><img src="/Content/client/assets/img/paypal.jpg" alt="payment method paypal"></a></div>

            <a class="shopBtn btn-block" href="#">Upcoming products <br><small>Click to view</small></a>
            <br>
            <br>
            <ul class="nav nav-list promowrapper">
                <li>
                    <div class="thumbnail">
                        <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                        <img src="/Content/client/assets/img/bootstrap-ecommerce-templates.png" alt="bootstrap ecommerce templates">
                        <div class="caption">
                            <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                        </div>
                    </div>
                </li>
                <li style="border:0"> &nbsp;</li>
                <li>
                    <div class="thumbnail">
                        <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                        <img src="/Content/client/assets/img/shopping-cart-template.png" alt="shopping cart template">
                        <div class="caption">
                            <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                        </div>
                    </div>
                </li>
                <li style="border:0"> &nbsp;</li>
                <li>
                    <div class="thumbnail">
                        <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                        <img src="/Content/client/assets/img/bootstrap-template.png" alt="bootstrap template">
                        <div class="caption">
                            <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
}
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="/san-pham/@category.MetaTitle-@category.ID">@category.Name</a> <span class="divider">/</span></li>
        <li class="active">@Model.Name</li>
    </ul>
    <div class="well well-small">
        <div class="row-fluid">
            <div class="span5">
                <div id="myCarousel" class="carousel slide cntr">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="@Model.Image" alt="@Model.Name" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="span7">
                <h3>@Model.Name [@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên hệ") VNĐ]</h3>
                <hr class="soft">

                <form class="form-horizontal qtyFrm">
                    <div class="control-group">
                        <label class="control-label"><span>@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên hệ") VNĐ</span></label>
                        <div class="controls">
                            <input type="number" class="span6" placeholder="Qty.">
                        </div>
                    </div>

                    <h4>Còn @Model.Quantity mặt hàng này trong kho</h4>
                    <p>
                        @Model.Description
                    </p><p>
                        <a href="/them-gio-hang?productId=@Model.ID&quantity=1"><span class=" icon-shopping-cart"></span>Thêm vào giỏ hàng</a>
                    </p>
                </form>
            </div>
        </div>
        <hr class="softn clr">


        <ul id="productDetail" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
            <li class=""><a href="#profile" data-toggle="tab">Related Products </a></li>
        </ul>
        <div id="myTabContent" class="tab-content tabWrapper">
            <div class="tab-pane fade active in" id="home">
                <h4>Chi tiết sản phẩm</h4>
                <p>@Model.Detail</p>

            </div>
            <div class="tab-pane fade" id="profile">
                @foreach (var item in relatedProduct)
                {
                    var chitiet = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                    <div class="row-fluid">
                        <div class="span2">
                            <img src="@item.Image" alt="@item.Name">
                        </div>
                        <div class="span6">
                            <h5>@item.Name</h5>
                            <p>
                                @item.Description
                            </p>
                        </div>
                        <div class="span4 alignR">
                            <form class="form-horizontal qtyFrm">
                                <h3>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</h3>
                                <div class="btn-group">
                                    <a href="/them-gio-hang?productId=@item.ID&quantity=1" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                                    <a href="@chitiet" class="shopBtn">VIEW</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr class="soft">
                }
            </div>
            <div class="tab-pane fade" id="cat1">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                <br>
                <br>
                <div class="row-fluid">
                    <div class="span2">
                        <img src="assets/img/b.jpg" alt="">
                    </div>
                    <div class="span6">
                        <h5>Product Name </h5>
                        <p>
                            Nowadays the lingerie industry is one of the most successful business spheres.
                            We always stay in touch with the latest fashion tendencies -
                            that is why our goods are so popular..
                        </p>
                    </div>
                    <div class="span4 alignR">
                        <form class="form-horizontal qtyFrm">
                            <h3> $140.00</h3>
                            <label class="checkbox">
                                <input type="checkbox">  Adds product to compair
                            </label><br>
                            <div class="btn-group">
                                <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                                <a href="product_details.html" class="shopBtn">VIEW</a>
                            </div>
                        </form>
                    </div>
                </div>
                <hr class="soften">
                <div class="row-fluid">
                    <div class="span2">
                        <img src="assets/img/a.jpg" alt="">
                    </div>
                    <div class="span6">
                        <h5>Product Name </h5>
                        <p>
                            Nowadays the lingerie industry is one of the most successful business spheres.
                            We always stay in touch with the latest fashion tendencies -
                            that is why our goods are so popular..
                        </p>
                    </div>
                    <div class="span4 alignR">
                        <form class="form-horizontal qtyFrm">
                            <h3> $140.00</h3>
                            <label class="checkbox">
                                <input type="checkbox">  Adds product to compair
                            </label><br>
                            <div class="btn-group">
                                <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                                <a href="product_details.html" class="shopBtn">VIEW</a>
                            </div>
                        </form>
                    </div>
                </div>
                <hr class="soften">
            </div>
            <div class="tab-pane fade" id="cat2">

                <div class="row-fluid">
                    <div class="span2">
                        <img src="assets/img/d.jpg" alt="">
                    </div>
                    <div class="span6">
                        <h5>Product Name </h5>
                        <p>
                            Nowadays the lingerie industry is one of the most successful business spheres.
                            We always stay in touch with the latest fashion tendencies -
                            that is why our goods are so popular..
                        </p>
                    </div>
                    <div class="span4 alignR">
                        <form class="form-horizontal qtyFrm">
                            <h3> $140.00</h3>
                            <label class="checkbox">
                                <input type="checkbox">  Adds product to compair
                            </label><br>
                            <div class="btn-group">
                                <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                                <a href="product_details.html" class="shopBtn">VIEW</a>
                            </div>
                        </form>
                    </div>
                </div>
                <hr class="soften">
                <div class="row-fluid">
                    <div class="span2">
                        <img src="assets/img/d.jpg" alt="">
                    </div>
                    <div class="span6">
                        <h5>Product Name </h5>
                        <p>
                            Nowadays the lingerie industry is one of the most successful business spheres.
                            We always stay in touch with the latest fashion tendencies -
                            that is why our goods are so popular..
                        </p>
                    </div>
                    <div class="span4 alignR">
                        <form class="form-horizontal qtyFrm">
                            <h3> $140.00</h3>
                            <label class="checkbox">
                                <input type="checkbox">  Adds product to compair
                            </label><br>
                            <div class="btn-group">
                                <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                                <a href="product_details.html" class="shopBtn">VIEW</a>
                            </div>
                        </form>
                    </div>
                </div>
                <hr class="soften">
                <div class="row-fluid">
                    <div class="span2">
                        <img src="assets/img/d.jpg" alt="">
                    </div>
                    <div class="span6">
                        <h5>Product Name </h5>
                        <p>
                            Nowadays the lingerie industry is one of the most successful business spheres.
                            We always stay in touch with the latest fashion tendencies -
                            that is why our goods are so popular..
                        </p>
                    </div>
                    <div class="span4 alignR">
                        <form class="form-horizontal qtyFrm">
                            <h3> $140.00</h3>
                            <label class="checkbox">
                                <input type="checkbox">  Adds product to compair
                            </label><br>
                            <div class="btn-group">
                                <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                                <a href="product_details.html" class="shopBtn">VIEW</a>
                            </div>
                        </form>
                    </div>
                </div>
                <hr class="soften">
                <div class="row-fluid">
                    <div class="span2">
                        <img src="assets/img/d.jpg" alt="">
                    </div>
                    <div class="span6">
                        <h5>Product Name </h5>
                        <p>
                            Nowadays the lingerie industry is one of the most successful business spheres.
                            We always stay in touch with the latest fashion tendencies -
                            that is why our goods are so popular..
                        </p>
                    </div>
                    <div class="span4 alignR">
                        <form class="form-horizontal qtyFrm">
                            <h3> $140.00</h3>
                            <label class="checkbox">
                                <input type="checkbox">  Adds product to compair
                            </label><br>
                            <div class="btn-group">
                                <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                                <a href="product_details.html" class="shopBtn">VIEW</a>
                            </div>
                        </form>
                    </div>
                </div>
                <hr class="soften">

            </div>
        </div>

    </div>
</div>

</div>